#address-editor form > div:not(.actions) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.25em;
}

#address-editor input {
  min-width: 0;
  font-size: 1.3em;
}

#address-editor .actions {
  display: flex;
  justify-content: space-between;
  gap: 0.25em;
}

#address-editor .actions > div {
  display: flex;
  gap: 0.25em;
}

.addresses__or {
  font-weight: 600;
  text-align: center;
}

.address-row {
  margin-bottom: 0.25em;
}

.address-row--mapped {
  display: grid;
  grid-template-columns: minmax(0, 1fr) max-content;
  align-items: stretch;
  gap: 0.25em;
}

#addresses-list .address-item {
  min-width: 0;
  margin-bottom: 0;
  cursor: pointer;
}

.address-row > .button {
  white-space: nowrap;
}

#address-search input {
  margin: 0.5em 0;
}

#address-editor input {
  padding: 0;
}
