.wishlist-form [name="title"],
.wishlist-editor [name="title"] {
  font-size: 1.5em;
}

.title-row {
  display: flex;
  gap: 15px;
  align-items: center;
}

.title-row [name="title"] {
  flex: 2;
}

.wishlist-form [name="status"],
.wishlist-editor [name="status"] {
  flex: 1;
  max-width: 300px;
  font-size: 1.4em;
}

.wishlist-editor .check {
  margin-right: 1em;
}
