@import url("https://cdn.geheimesite.nl/reset.css");

:root {
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --radius: 0.4em;
}

body {
  font-family: 'IBM Plex Sans', system-ui, -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto,
    helvetica, arial, sans-serif;
  background: light-dark(#ededed, #15141c);
  color: light-dark(#333, #dddddd);
}

a {
  color: light-dark(#0064c8, #1a87f5);
  text-decoration: none;

  &:hover { opacity: 0.9; text-decoration: underline; }
  &:visited { color: light-dark(#0050a0, #0984ff); }
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid light-dark(#ccc, #464646);
  border-radius: 2px;

  &:disabled {
    color: light-dark(#ccc, #666);
  }
}

input:not(:is(:checked)) {
  appearance: none;
}

input:active {
  background: #272731;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;

  &:disabled { color: #999; }
  &:focus { border-color: #666; }

  &:not(:disabled):active {
    background-color: #ddd;
  }
}

html, body, main {
  height: 100%;
  margin: 0;
}

main {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0;
}

@media (min-width: 800px) {
  main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

pre {
  background: black;
  color: white;
  font-family: monospace;
  font-size: 1.5em;
  padding: 0.3em;
  border-radius: calc(var(--radius) / 2);
}

code {
  font-size: 1em;
  font-weight: 600;
  background: light-dark(#ddd, #0f0f0f);
  color: light-dark(#464646, #959595);
  border-radius: calc(var(--radius) / 3);
  padding: 2px 6px;
}

pre code {
  background: transparent;
  color: currentColor;
  padding: 0;
}

ul {
  margin: 16px 0;
}

input, select, textarea {
  background: light-dark(#e9e9e9, #2b2a33);
  border-radius: calc(var(--radius) / 2);
  padding: 3px;
}

textarea {
  resize: none;
  padding: 5px;
}

input:focus, textarea:focus {
  background: #dddddd;
  outline: none;
}

input:focus-visible, textarea:focus-visible {
  outline: 1px solid rgb(0, 100, 200);
}

blockquote {
  border-left: 2px solid gray;
  padding-left: 0.4em;
  margin-left: 0.4em;
}