#subscriptions-listing ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

#subscriptions-listing ul li {
  margin-bottom: 0.25em;
}

.subscriptions-editor {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
}

.subscriptions-editor input[type="text"],
.subscriptions-editor input[type="url"] {
  flex: 1;
}

.subscriptions-editor input[type="color"] {
  aspect-ratio: 1;
  width: auto;
  height: 2em;
}

.subscription-new-form {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  margin-bottom: 0.5em;
}

.subscription-new-form input[type="url"] {
  flex: 1;
}
