<!DOCTYPE html>
<html>
  <head>
    <title>Linio</title>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body class="dashboard">
    <nav>
      <li><a href="/Index">Index</a></li>
      <li><a href="/ToDo">ToDo</a></li>
      <li><a href="#" onclick="lucky()">I'm feeling lucky</a></li>
    </nav>

    <noscript>
      The "I'm feeling lucky" button sadly requires JavaScript. As does the rest
      of this application. Sorry!
    </noscript>

    <script>
      const randomItem = (arr) => arr[Math.floor(Math.random() * arr.length)];
      
      async function lucky() {
        const data = await fetch("/api/notes");
        const json = await data.json();

        window.location = `/${randomItem(json).id}`;
      }
    </script>
  </body>
</html>
