<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <h1>Index</h1>

    <noscript>
      I'm afraid this monstrosity requires JavaScript to function. Sorry!
    </noscript>

    <!-- TODO(robin): figure out if the <template> tag is a better fit here. -->
    <script type="module">
      const list = document.createElement("ul");

      const data = await fetch("/api/notes");
      const json = await data.json();
      
      for(const { id, title } of json) {
        const item = document.createElement("li");
        const link = document.createElement("a");

        link.href = `/${id}`;
        link.innerText = title;

        item.appendChild(link);
        list.appendChild(item);
      }

      document.body.appendChild(list);
    </script>
  </body>
</html>
