@import url("https://cdn.geheimesite.nl/punkt.css");

section {
  margin: 15px;
  padding: 45px 35px;
  padding-top: 55px;
  word-wrap: break-word;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.1);
  background: light-dark(white, #2b2b33);
}

.note section header {
  position: absolute;
  right: 10px;
  top: 0;
  margin-right: 10px;
}

.note section {
  width: 500px;
  position: absolute;
}

.note section header time,
.note section header span {
  background: light-dark(#f2f2f2, white);
  color: black;
  line-height: 1;
  padding: 10px;
  padding-top: 4px;
  padding-bottom: 2px;
  margin-right: 5px;
}

[data-page="404"] {
  color: gray;
  font-style: italic;
  padding: 20px 30px;
}

.note section > :not(.edit):first-of-type {
  margin-top: 0;
}

.note section input[type="checkbox"] + :not(.edit) {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0;
  line-height: 1.6;
}

.note section :last-child {
  margin-bottom: 0;
}

.note input[type="checkbox"] {
  transform: scale(3);
  transform-origin: left top;
  float: left;
  margin-right: 50px;
}

.note .deadline::before {
  content: "deadline ";
}

.note .completed-at::before {
  content: "completed ";
}

.note .shelved-at::before {
  content: "dnf ";
}

.note .edit {
  position: absolute;
  font-size: 0.9rem;
  opacity: 0.8;
  right: 20px;
  bottom: 5px;
}

.todo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.todo input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 20px;
}

.todo section h2 {
  padding: 0;
  margin-top: -1em;
  border: none;
  text-align: right;
}

.todo section h3 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}