<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body class="todo">
    <noscript>
      I'm afraid this monstrosity requires JavaScript to function. Sorry!
    </noscript>

    <!-- TODO(robin): figure out if the <template> tag is a better fit here. -->
    <script type="module">
      const data = await fetch("/api/notes");
      const json = await data.json();

      const tasks = {all: []};

      for(const note of json) {
        if (!note.task) continue;
        const list = note.task.list;

        if(list) {
          if(!tasks[list]) tasks[list] = [];
          tasks[list].push(note)
        } else {
          tasks.all.push(note);
        }
      }
      
      // Helper for formatting datetimes.
      const formatDate = (d) => d.toISOString().slice(0, 10).replace(/-(0)/g, '-');

      for(const list of Object.keys(tasks)) {
        const section = document.createElement("section");
        const heading = document.createElement("h2");

        heading.innerText = `~${list}`;
        section.appendChild(heading);

        for(const task of tasks[list]) {
          const checkbox = document.createElement("input");
          const link = document.createElement("a");

          checkbox.type = "checkbox";

          if(task.task.status == 'done') {
            checkbox.setAttribute("checked", "checked");
          }

          checkbox.onclick = async (e) => {
            e.target.disabled = true; // Prevents race conditions when rapidly clicking.

            const cancel = () => {
              e.target.checked = !e.target.checked;
              e.target.disabled = false;
            }

            // We first fetch the newest content of the note before
            // adding or removing the task modifiers, to prevent actually
            // overwriting changes made in other tabs/windows.
            let response = await fetch(`/api/note/${task.id}`);

            // If fetching the note failed, we do not mark it checked;
            // the user has to reclick the checkbox to retry.
            if(!response.ok) return cancel();

            let note = await response.json();

            console.log(note);

            const md = e.target.checked ?
              `DONE @ ${formatDate(new Date())}\n${note.md}` :
              note.md.replace(/^(DONE|DNF).*$(\r?\n)?/im, '');

            // We make the edit and then re-render the checkbox.
            response = await fetch(`/api/note/${note.id}`, {
              method: "PUT", body: JSON.stringify({ md })
            });

            // If the update failed, we (unfortunately) can't leave it
            // checked either; user has to do (another!) reclick :$
            if(!response.ok) return cancel();

            note = await response.json();

            console.log(note.task.status == 'done');

            e.target.checked = note.task.status == 'done';
            e.target.disabled = false;
          }

          link.href = `/${task.id}`;
          link.innerText = task.title;

          const heading = document.createElement("h3");

          heading.appendChild(checkbox);
          heading.appendChild(link);
          section.appendChild(heading);
        }

        document.body.appendChild(section);
      }
    </script>
  </body>
</html>
